<h1>My Robots</h1>
<a href="/robots/new"><button>Add a Robot</button></a>
<% @robots.each do |robot| %>
  <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
  <p><%= robot.city %></p>
  <p><%= robot.state %></p>
  <p><%= robot.department %></p>
<% end %>