<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="app/public/application.css">
  <title>Robot World</title>
</head>
<body>
  <h1>My Robots</h1>
  <a href="/robots/new"><button>Add a Robot</button></a>
  <main class="index">
    <% @robots.each do |robot| %>
    <h3 class="clear"><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
    <p><%= robot.city %></p>
    <p><%= robot.state %></p>
    <p><%= robot.department %></p>
    <a class="button" href="/robots/<%= robot.id %>/edit"><button>Edit</button></a>
    <form class="button" action="/robots/<%= robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="delete" value="Delete">
      <br>
    </form>
    <% end %>
  </main>
</body>
</html>
